<%= form_tag integer_in_english_index_path, method: :get do %>
  <%= text_field :integer_in_english, :number %>
  <%= submit_tag "Ok" %>
<% end %>
<% if @integer_in_english.valid? %>
  <p>
    <%= @integer_in_english.to_s %>
  </p>
  <% [-1000, -100, -10, -1, +1, +10, +100, +1000].each do |sum| %>
    <%= link_to_sum(@integer_in_english.number, sum) %>
  <% end %>
<% else %>
  <% for error in @integer_in_english.errors.full_messages %>
    <p> <%= error %> </p>
  <% end %>
<% end %>
